@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/fonts/stylesheet.css">

    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/pages/auth/index.css">
    <title>Reset password</title>
</head>
<body>
    <div class="form__block">
        <h1 class="form__title">Tune Cinema</h1>
        <p class="form__desc">Don't worry, we'll send you an email to reset your password.</p>

        <form class="form__sign-in" action="https://localhost:7220/api/users/changePassword" method="post">
            <div class="form__group">
                <label for="email" class="form__label">Email</label>
                <input type="text" id="email" name="email" class="form__input" required placeholder="Enter your email">
            </div>

            <div class="form__group">
                <label for="newPassword" class="form__label">New password</label>
                <input type="text" id="newPassword" name="newPassword" class="form__input" required placeholder="Enter your new password">
            </div>

            <div class="form__group">
                <button type="submit" class="form__button">Reset Password</button>
            </div>
        </form>

        <div class="form__row form-row__forget-password">
            <span class="form__link">Have an account?</span> 
            <a asp-action="Login" class="form__link form-link__login-acc">Log In</a>
        </div>
    </div>

</body>
</html>