@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicon -->

    <link rel="stylesheet" href="~/fonts/stylesheet.css">

    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/pages/auth/index.css">
    <title>Reset password - Tune Cinema</title>
</head>
<body>
    <div class="form__block">
        <h1 class="form__title">Tune Cinema</h1>
        <p class="form__desc">Don't worry, we'll send you an email to reset your password.</p>

        <form class="form__sign-in" action="https://localhost:7220/api/users/changePassword" method="post">
            <div class="form__group">
                <label for="email" class="form__label">Email</label>
                <input type="text" id="email" name="email" class="form__input" required placeholder="Enter your email">
            </div>

            <div class="form__group">
                <label for="newPassword" class="form__label">New password</label>
                <input type="text" id="newPassword" name="newPassword" class="form__input" required placeholder="Enter your new password">
            </div>

            <div class="form__group">
                <button type="submit" class="form__button">Reset Password</button>
            </div>
        </form>

        <div class="form__row form-row__forget-password">
            <span class="form__link">Have an account?</span> 
            <a asp-action="Login" class="form__link form-link__login-acc">Log In</a>
        </div>
    </div>

</body>
</html>