@model CinemaSolution.ViewModels.Account.LoginRequest;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicon -->

    <link rel="stylesheet" href="~/fonts/stylesheet.css">

    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/pages/auth/index.css">
    <title>Log In - Tune Cinema</title>
</head>
<body>
    <div class="form__block">
        <h1 class="form__title">Tune Cinema</h1>
        <p class="form__desc">Please enter your user information.</p>

        <form class="form__sign-in" asp-action="Login" method="post">
            <div class="form__group">
                <label for="username" class="form__label">Username</label>
                <input type="text" id="username" name="username" asp-for="@Model.Username" class="form__input" required placeholder="Enter username">
            </div>
            <div class="form__group">
                <label for="password" class="form__label">Password</label>
                <input type="password" id="password" name="password" asp-for="@Model.Password" class="form__input" required placeholder="********">
            </div>
            <div class="form__group">
                <label for="remember" class="form__label form__label--checkbox">
                    <input type="checkbox" id="remember" name="remember" class="form__input--checkbox">
                    Remember me
                </label>
            </div>
            <div class="form__group">
                <button type="submit" class="form__button">Login</button>
            </div>
        </form>

        <div class="form__row">
            <a asp-action="Register" class="form__link form-link__create-acc">Create an account</a>
            <a asp-action="ForgotPassword" class="form__link">Forgot your password?</a>
        </div>
    </div>

</body>
</html>