@model CinemaSolution.ViewModels.Category.CategoryUpdateRequest;

@{
    ViewData["Title"] = "Update Category";
}

<nav class="breadcrumb">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a class="load-target" asp-controller="Category" asp-action="Index">Categories</a>
        </li>
        <li class="breadcrumb-item">
            @Model.Id
        </li>
    </ol>
</nav>

<div class="content-body">
    <form asp-action="Update" class="form" method="post">
        <div class="form-group">
            <label for="category-name" class="form-label">Name of category</label>
            <input type="text" class="form-control" id="category-name" asp-for="Name" placeholder="Enter name">
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "model-state text-danger" })
        </div>

        <div class="row form-group-btn">
            <button type="submit" class="btn success-btn">Save</button>
            <button type="reset" class="btn reset-btn">Reset</button>
            <a class="btn delete-btn load-target" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>